.main-slider{}

.main-slider--slides {
    position: relative;

    .slide {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: auto;

        opacity: 0;
        transition: opacity 3s ease;

        display: block;
        max-width: 100%;
    }

    .show {
        position: static;
        opacity: 1;
    }
}