@use '../../settings/breakpoints';
@use '../../settings/variables' as v;

.footer-subscribe {
    min-height: 250px;
    background-color: #4c4c4c50;

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(md) {
        min-height: 150px;
    }

    >.form {}
}

.footer-subscribe--preloader {
    display: none;
}