@use '../../settings/breakpoints';
@use '../../settings/variables' as v;

.footer-top {
    min-height: 145px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(md) {
        grid-template-columns: auto;
        gap: 25px;

        min-height: auto;
    }

    >.c1 {}

    >.c2 {
        justify-self: end;

        // @include breakpoints.media-breakpoint-only(xl) {}

        // @include breakpoints.media-breakpoint-only(lg) {}

        // @include breakpoints.media-breakpoint-only(md) {}

        // @include breakpoints.media-breakpoint-only(sm) {}

        // @include breakpoints.media-breakpoint-only(xs) {}

        @include breakpoints.media-breakpoint-down(md) {
            justify-self: auto;
        }
    }
}

.footer-logo {
    font-family: f102;
    font-size: 16px;
    color: #FFB577;
}

.footer-nav {}

.footer-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(md) {
        padding-bottom: 50px;

        flex-direction: column;
        gap: 10px;
    }

    >.item {

        >.link {
            font-size: 16px;
            color: #FFFFFF;
            transition: color .2s linear;

            &:hover {
                color: v.$menu-item-hover;
            }
        }
    }
}