@use '../../settings/breakpoints';
@use '../../settings/variables' as v;

@use './main-menu';
@use './mobile-menu-btn';

.header-fixed{
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    z-index: 1000;
}

.header{
    min-width: 320px;
    max-width: 1920px;

    margin: 0 auto;
    background: #19161B;
}

.header-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    min-height: 80px;

    @include breakpoints.media-breakpoint-only(xl) {
        min-height: 50px;
    }

    @include breakpoints.media-breakpoint-only(lg) {
        min-height: 45px;
    }

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(lg){
        min-height: 40px;
    }

    >.logo-link{
        font-family: f102;
        font-size: 16px;
        color: v.$logo-color;
    }

    >.c1{
        justify-self: end;

        // @include breakpoints.media-breakpoint-only(xl) {}

        // @include breakpoints.media-breakpoint-only(lg) {}

        // @include breakpoints.media-breakpoint-only(md) {}

        // @include breakpoints.media-breakpoint-only(sm) {}

        // @include breakpoints.media-breakpoint-only(xs) {}

        @include breakpoints.media-breakpoint-down(lg){
            display: none;
        }
    }

    >.c2{
        // @include breakpoints.media-breakpoint-only(xl) {}

        // @include breakpoints.media-breakpoint-only(lg) {}

        // @include breakpoints.media-breakpoint-only(md) {}

        // @include breakpoints.media-breakpoint-only(sm) {}

        // @include breakpoints.media-breakpoint-only(xs) {}

        @include breakpoints.media-breakpoint-down(lg){
            justify-self: center;
        }
    }

    >.c3{
        display: none;

        // @include breakpoints.media-breakpoint-only(xl) {}

        // @include breakpoints.media-breakpoint-only(lg) {}

        // @include breakpoints.media-breakpoint-only(md) {}

        // @include breakpoints.media-breakpoint-only(sm) {}

        // @include breakpoints.media-breakpoint-only(xs) {}

        @include breakpoints.media-breakpoint-down(lg){
            display: block;
        }
    }
}

.github-link{

    >.icon{
        font-size: 28px;
        color: #FFFFFF;
        transition: color .2s linear;

        &:hover{
            color: v.$menu-item-hover;
        }
    }
}