@use '../../settings/variables' as v;

.main-nav{
    padding-right: 25px;
}

.main-menu{
    display: flex;
    flex-direction: row;
    gap: 20px;

    >.item{

        >.link{
            font-size: 16px;
            color: #FFFFFF;
            transition: color .2s linear;

            &:hover{
                color: v.$menu-item-hover;
            }
        }
    }
}