<footer class="footer g">
    <div class="container">
        <div class="footer-top">
            <div class="c1">
                <div class="footer-logo">Slider</div>
            </div>

            <div class="c2">
                <nav class="footer-nav">
                    <ul class="footer-menu">
                        <li class="item">
                            <a href="./about.html" class="link">About</a>
                        </li>

                        <li class="item">
                            <a href="./docs.html" class="link">Docs</a>
                        </li>

                        <li class="item">
                            <a href="./contacts.html" class="link">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="footer-subscribe">
            <div class="form">
                <div class="">
                    <div class="c1">
                        <div class="footer-subscribe--title">
                            <h3>Subscribe to our news letter to get latest updates and news</h3>
                        </div>
                    </div>

                    <div class="c2">
                        <form class="footer-subscribe--form" action="">
                            <div class="footer-subscribe--form-columns">
                                <div class="input"></div>

                                <div class="submit">
                                    <input type="button" value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-subscribe--preloader"></div>
        </div>

        <div class="footer-bottom">
            <div class="c1">
                <div class="footer-copyright">
                    <span class="t">&copy; 2025</span>
                </div>
            </div>

            <div class="c2">
                <ul class="footer-socials">
                    <li class="item">
                        <a href="" class="link">
                            <div class="footer-social--icon">
                                <i class="icon icon-github"></i>
                            </div>
                        </a>
                    </li>

                    <li class="item">
                        <a href="" class="link">
                            <div class="footer-social--icon">
                                <i class="icon icon-linkedin"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>