<footer class="footer">
    <div class="footer-subscribe g">
        <div class="container">
            <div class="b-footer-subscribe">
                <div class="c1">
                    <div class="footer-subscribe--title">
                        <h3>Subscribe to our news letter to get latest updates and news</h3>
                    </div>
                </div>

                <div class="c2">
                    <form class="footer-subscribe-form" action="">
                        <div class="footer-form">
                            <div class="c1">
                                <div class="footer-form-field">
                                    <div class="input">
                                        <input placeholder="Enter Your Email" type="text">
                                    </div>

                                    <div class="error">
                                        <span class="t"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="c2">
                                <input class="submit" type="button" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="footer-subscribe-preloader"></div>
        </div>
    </div>

    <div class="footer-bottom g">
        <div class="container">
            <div class="b-footer-bottom">
                <div class="c1">
                    <div class="footer-copyright">
                        <span class="t">Slider &#169; 2025</span>
                    </div>
                </div>

                <div class="c2">
                    <ul class="footer-socials">
                        <li class="item">
                            <a href="https://linkedin.com" class="link">
                                <div class="social-icon">
                                    <i class="icon icon-linkedin"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="https://github.com" class="link">
                                <div class="social-icon">
                                    <i class="icon icon-github"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>