<header class="header-fixed">
    <div class="header g">
        <div class="container">
            <div class="header-container">
                <a href="/" class="logo-link">Slider</a>

                <div class="c1">
                    <nav class="main-nav">
                        <ul class="main-menu">
                            <li class="item">
                                <a href="./about.html" class="link">About</a>
                            </li>

                            <li class="item">
                                <a href="./docs.html" class="link">Docs</a>
                            </li>

                            <li class="item">
                                <a href="./contacts.html" class="link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="c2">
                    <a href="https://github.com/vladyslav-mishchenko/slider" class="github-link" target="_blank">
                        <i class="icon icon-github"></i>
                    </a>
                </div>

                <div class="c3">
                    <div class="mobile-menu-btn">
                        <div class="container">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>