@use './icons';

// ==============================
// Fonts
// ==============================

// ==============================
// Sen

// @font-face {
//   font-family: 'f101';
//   src: url('./fonts/sen/Sen-Regular.ttf');
// }

// @font-face {
//   font-family: 'f102';
//   src: url('./fonts/sen/Sen-Bold.ttf');
// }

// @font-face {
//   font-family: 'f103';
//   src: url('./fonts/sen/Sen-Medium.ttf');
// }
// ==============================

/* sen-latin-400-normal */
@font-face {
  font-family: 'f101';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/sen/files/sen-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* sen-latin-500-normal */
@font-face {
  font-family: 'f102';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/sen/files/sen-latin-500-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* sen-latin-600-normal */
@font-face {
  font-family: 'f103';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/sen/files/sen-latin-600-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* sen-latin-700-normal */
// @font-face {
//   font-family: 'Sen';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 700;
//   src: url(@fontsource/sen/files/sen-latin-700-normal.woff2) format('woff2');
//   unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
// }

/* sen-latin-800-normal */
// @font-face {
//   font-family: 'Sen';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 800;
//   src: url(@fontsource/sen/files/sen-latin-800-normal.woff2) format('woff2');
//   unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
// }
