@use './icons';

// ==============================
// Fonts
// ==============================

// ==============================
// Sen

@font-face {
    font-family: 'f101';
    src: url('./fonts/sen/Sen-Regular.ttf');
}

@font-face {
    font-family: 'f102';
    src: url('./fonts/sen/Sen-Bold.ttf');
}

@font-face {
    font-family: 'f103';
    src: url('./fonts/sen/Sen-Medium.ttf');
}
// ==============================
